{% extends 'pages/base.html' %}
{% load static %}
{% block title %} Контакт  {% endblock title %}
{% block content %}
<main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Контакт</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'home_page' %}">Дом</a></li>
                    <li class="current">Контакт</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
                <iframe style="border:0; width: 100%; height: 270px;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2567.808607101974!2d66.975616!3d39.654867!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d18b7c2e59337%3A0x532c8e039ecc92af!2sRegistan%20Square!5e1!3m2!1sen!2sus!4v1730292287679!5m2!1sen!2sus"
                        frameborder="0" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- End Google Maps -->
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <p>Улица Доваторцев, 47 Ставрополь</p>
                        </div>
                    </div>
                    <!-- End Info Item -->
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>+7 906 491 71 72</p>
                        </div>
                    </div>
                    <!-- End Info Item -->
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Us</h3>
                            <p>xudoynazarovzufar12@gmail.com</p>
                        </div>
                    </div>
                    <!-- End Info Item -->
                </div>
                <div class="col-lg-8">
                    <form id="messageForm" action="#" method="post" class="php-email-form" data-aos="fade-up"
                          data-aos-delay="200">{% csrf_token %}
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name | Ваше Имя"
                                       required="">
                            </div>
                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email"
                                       placeholder="Your Email | Ваш адрес электронной почты" required="">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject | Предмет"
                                       required="">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message | Сообщение"
                                          required=""></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <div id="loading" class="loading" style="display: none;">Loading</div>
                                <div id="error-message" class="error-message" style="display: none;"></div>
                                <div id="sent-message" class="sent-message" style="display: none;">Your message has been
                                    sent. Thank you!
                                </div>
                                <button type="submit" class="btn btn-custom">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Contact Form -->
            </div>
        </div>
    </section>
    <!-- /Contact Section -->
    <script>
    document.getElementById('messageForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(this);
    const sendMessageButton = document.querySelector('.btn-custom');
    const loadingDiv = document.getElementById('loading');
    const sentMessageDiv = document.getElementById('sent-message');
    const errorMessageDiv = document.getElementById('error-message');

    sendMessageButton.style.display = 'none';
    loadingDiv.style.display = 'block';

    fetch('/contact/', {
        method: 'POST',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.json())
    .then(data => {
        setTimeout(() => {
            loadingDiv.style.display = 'none';

            if (data.status === 200) {
                sentMessageDiv.style.display = 'block';
                sentMessageDiv.textContent = data.message || 'Your message has been sent successfully.';
            } else if (data.status === 400) {
                errorMessageDiv.style.display = 'block';
                errorMessageDiv.textContent = data.message || 'There was an error with your submission.';

                setTimeout(() => {
                    location.reload();
                }, 4000);
            }
        }, 2000);
    })
    .catch(error => {
        loadingDiv.style.display = 'none';
        errorMessageDiv.style.display = 'block';
        errorMessageDiv.textContent = 'An error occurred while sending your message.';

        setTimeout(() => {
            location.reload();
        }, 4000);
    });
});
    </script>
</main>
{% endblock content %}

