{% extends 'pages/base.html' %}
{% load static %}
{% block title %} Команда  {% endblock title %}
{% block content %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Команда</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'home_page' %}">дом</a></li>
                    <li class="current">Команда</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Team Section -->
    <section id="team" class="team section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="{% static 'assets/images/team/team-1.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Якубов Джурабек</h4>
                            <span>Директор компании</span>
                            <p>Я объясню удовольствие от гибкости и отталкиваю боль, как будто</p>
                            <div class="social">
                                <a href=""> <i class="bi bi-telegram"></i> </a>
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="{% static 'assets/images/team/team-2.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Утамуродов Диёрбек</h4>
                            <span>Менеджер по продукту</span>
                            <p>Либо он полюбит большие удовольствия, а кто подготовит к отправке нынешние</p>
                            <div class="social">
                                <a href=""> <i class="bi bi-telegram"></i> </a>
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="{% static 'assets/images/team/team-3.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Ботиров Хасан</h4>
                            <span>Технический директор</span>
                            <p>Любой человек легко убежит от того, что испорчено, когда он хочет работать.</p>
                            <div class="social">
                                <a href=""> <i class="bi bi-telegram"></i> </a>
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="{% static 'assets/images/team/team-4.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Аманда Джепсон</h4>
                            <span>Бухгалтер</span>
                            <p>Он ненавидит времена боли, обязанности обязанностей, и мы обвиняем его</p>
                            <div class="social">
                                <a href=""> <i class="bi bi-telegram"></i> </a>
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section><!-- Team Section -->

</main>
{% endblock content %}